<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
 
    
    <form id="form-id" action="/ctok" method="post" target="_blank">
        <label for="ctok">Convert Celsius to Kelvin</label>
        <input type="text" id="ctok" name="fname">
        <input type="submit" value="Submit">
    </form>
      
  </body>
</html>