<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
  </head>
  <body>
    <form action="/convert" method="POST">
      <label for="Temperature Converter">Temperature Converter</label>:
      <input type="text" id="temp" name="temperature" />
      <select name="conversion" id="conversions" value="Choose">
        <%for (var i = 0; i < conversions.length; i++) {%>
        <option value="<%=conversions[i]%>"><%=conversions[i]%></option>
        <% } %>
      </select>
      <input type="submit" value="Convert" />
    </form>
  </body>
</html>
