<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <% if (value  == false) { %>
      <p> Your Conversion <%= conversion %> result can not be done</p>
      <%} else { %>
      <p> Your Conversion <%= conversion %> result is: <%=value %></p>
      <% } %>
    
  </body>
</html>